<div class="row">
  <div class="large-2 columns">&nbsp;
  </div>
  <div class="body large-8 columns">
    <img src="images/bg.jpg" alt="">
  </div>
  <div class="large-2 columns">&nbsp;
  </div>
</div>
