<form action="/owner" method="POST">
    Dish name: <input type="text" name="name" id="name1">
    Dish price: <input type="text" name="price" id="price1"> <br>
    Dish category:
    <select id="category">
      <option>starter</option>
      <option>main_course</option>
      <option>dessert</option>
    </select>
    <input type="submit">
</form>
