<form action="/owner/" method="POST">
    Dish name: <input type="text" name="name">
    <br/>
    Dish price: <input type="text" name="price">
    <br/>
    Dish category: <input type="text" name="category">
    <br/>
    <input type="submit">
</form>
